body {
    font-family: Arial, sans-serif;
    background-color: #fff7e6;
    color: #333;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    color: #ff9500;
}

.logo {
    display: block;
    margin: 20px auto;
    width: 150px;
}

nav {
    background-color: #ffbf80;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff9500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #e07a00;
}


#threejs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: auto;
    height: auto;
    display: block;
}
